.vscode
/electron/.DS_Store
.DS_Store
/data
.venv
/electron/node_modules
/electron/python_backend
/electron/.DS_Store
/server/__pycache__
/backend
**__pycache__
/meta/*
build
/electron/dist/mac-arm64
/electron/dist/*.dmg
/electron/dist/*.blockmap