fastapi==0.104.1
uvicorn==0.24.0
FlagEmbedding==1.2.10
torch>=1.9.0
transformers>=4.21.0 # ==4.50.1
numpy>=1.21.0,<2.0.0
pydantic>=2.0.0
faiss-cpu==1.8.0
bm25s[full]
langchain
python-multipart
Pillow>=9.0.0
jieba
python-docx>=0.8.11
pypandoc-binary>=1.13
huggingface_hub>=0.23.0
magic-pdf[full] # ==1.3.12
sentence-transformers==5.1.1
python-pptx