fastapi
uvicorn[standard]
pyinstaller
sentence-transformers
numpy==1.26.4
faiss-cpu==1.8.0
pandas
python-multipart
aiofiles
jieba>=0.42.1
transformers
torch
python-docx
pdfplumber
openpyxl
setuptools<81
